<%- include('partials/header.ejs') %>
<h3 class="title-post">RECENT POSTS</h3>
<main>
  <ul class="light">
    
    <% if(post.length >0){ post.forEach((element) => { %>
    <div class="content">
      <li>
        <h2><%= element.title %></h2>
        <p><%= element.description %></p>
        <div class="imeg">
          <% if(element.picture){ %>
          <img src=" <%=element.picture %>" alt="picture" />
          <% }else{ %>
          <img src="/images/placeholder.jpg" alt="picture" />
          <% } %>
        </div>
        <div class="content-btn">
          <form class="form" action="/edit/<%= element.id %>" method="GET">
            <button class="edit">Edit</button>
          </form>
          <form
          class="form"
          onsubmit="return confirmDelete()"
          action="/delete/<%= element.id %>"
          method="POST"
        >
          <button type="submit" class="delete" id="delete">Delete</button>
        </form>
        
        
 
        </div>
      </li>
    </div>

    <% }); }else{ %>
    <div class="content">
      <div class="head">
        Create
        <li><a href="/new-post">New Post</a></li>
      </div>
    </div>
    <% } %>
  </ul>
  <div id="update-notif" class="success"></div>
  <div id="delete-notif" class="remove"></div>
</main>

<%- include('partials/footer.ejs') %>

<script>
  function confirmDelete() {
    // Prompt user for confirmation
    const confirmation = confirm("Are you sure you want to delete this post?")

  

      // Deleting Notification:
//       setTimeout(()=>{
//       const notification =document.getElementById('delete-notif');
// 		const deleteMessage = 'Post deleted successfully!';

//     if(notification){
//             remove.style.display = "block";
//             notification.innerText = deleteMessage;

// setTimeout(()=>{
//  remove.style.display='none';
// } ,5000);
// 		}
// 	},1000);

    // Return true to submit the form if confirmed, false otherwise
    return confirmation;
  }
</script>
